{% extends "AppPagina/padre.html" %}
{% load static %}


{% block contenidoQueCambia %}
<div class="container d-flex align-items-center flex-column">
                
    <p style="background-color:MediumSeaGreen" class="masthead-subheading font-weight-light mb-0">Eliud Bueno Moreno </p>
    <p class="masthead-subheading font-weight-light mb-0">
        Es Ingeniero en Electrónica y cuenta con una Maestría en Telcos, tiene certificaciones Cisco CCNA, CCNP de Switching&Routing y Wireless, 
        esta convencido que la programación es una de las habilidades que en un futuro muy cercano será básica para todo profesionista competitivo. 
        Actualmente es Director de infraestructura tecnológica del gobierno de Durango, Dgo. México.
    </p>
    <p style="background-color:MediumSeaGreen" class="masthead-subheading font-weight-light mb-0">Diego Nicolas Dasanbiagio </p>
    <p class="masthead-subheading font-weight-light mb-0">Vive en Cordoba Argentina, tiene 37 años, es egresado de CS Económicas y 
        hace un año y medio encontró su vocación por la programación, es lo que le apasiona, incluso pierde la noción del tiempo cuando esta tirando código.
        Dejó de trabajar como técnico en Telecom para dedicarse de lleno a la programación.
    </p>
    <p style="background-color:MediumSeaGreen" class="masthead-subheading font-weight-light mb-0">Federico Gómez Catuogno</p>
    <p class="masthead-subheading font-weight-light mb-0">Tiene 31 años y es de la provincia de Buenos Aires Argentina, 
        actualmente se encuentra trabajando en la parte de ventas de materiales para el sector de la construcción. Hace unos años comenzó la carrera de programación
        y hoy en dia se ha concentrado en retomar cursos de Python para conseguir incorporarlo a sus conocimientos.
    </p>
</div>
{% endblock %}
