{% extends "AppPagina/padre.html" %}
{% load static %}


{% block contenidoQueCambia %}
<div class="container d-flex align-items-center flex-column">
                
 
    <!-- Icon Divider-->
    
    <!-- Masthead Subheading-->
    <p style="background-color:MediumSeaGreen" class="masthead-subheading font-weight-light mb-0">Eliud Bueno Moreno </p>
    <p class="masthead-subheading font-weight-light mb-0">Ingeniero en electrónica, con especialidad en telcos, tiene certificaciones Cisco CCNA, CCNP S&R y Wireless, es el Director de infraestructura del gobierno de Durango.   </p>
</div>
{% endblock %}
