{% extends "AppPagina/padre.html" %}
{% load static %}


{% block contenidoQueCambia %}

<form action="" method="POST"> {% csrf_token %}

    <div>
        <table style="margin: auto;">

            {{ form }}
        
        </table>
        <input type="submit", value="ENVIAR" >
        
        <br><br>
    
        <a href="{% url 'ListaAlumnos'%}">
          <input type="button" value="Mostrar Alumnos"/>
        </a>
        
        <br><br>

        <a href="{% url 'BusquedaAlumno'%}">
          <input type="button" value=" Buscar Alumnos"/>
        </a>
    </div>
    
    
    



 
{% endblock %}