{% extends "AppPagina/padre.html" %}
#{% load static %}


#{% block contenidoQueCambia %}

<form action="" method="POST"> {% csrf_token %}

    <div class="container d-flex align-items-center flex-column">


        <h1 class="masthead-heading text-uppercase mb-0">Hasta luego</h1>
        <h1>{{mensaje}}</h1>

{% comment %}  
        <a class="btn" href="{% url 'Detail'%}"> Buscar Cursos </a>
        <br>
        <a class="btn" href="{% url 'New'%}">  Cursos </a> {% endcomment %}
        {% comment %} <a class="btn" href="{% url 'EditarCursos'%}"> Editar Cursos </a> {% endcomment %}
   
    </div>  
{% endblock %} 